/* GENERAL */

h1 {
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 30px 0 20px 20px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #343434;
    line-height: 1.7;
    font-weight: 100;
    margin: 0 20px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #343434;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ///HEADER/// */

.header_ul li {
    font-variant-caps: all-petite-caps;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    list-style: none;
    color: #222222;
    padding: 25px;
    margin: 0;
    align-self: center;
}

#abNav{
    background-color: none;
    padding: 40px;
    font-weight: none;
    
}

.head_container {
    display: flex;
    align-items: center;   
    justify-content: center;
   }

.head_container img {
    height: 100px;
}

/* FOOTER */

.footer_ul li {
    padding: 40px 10px 30px 10px ;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #222222;
    list-style: none;
}

#footer_p p{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #222222;
}

/* HOME  */

.wrapper {
    display: flex;
    width: 100vw;
    align-content: flex-start;
    margin: 0;
}

.wrapper img {
    max-width:100%;
    height: auto;
}


.main_image {
    width: 100%;
    height: auto;
    transition: all 0.8s ease;
}

.main_image:hover {
    transform: scale(1.2)
}

/* STUDIO */

.hero {
    height: 200px;
    width: auto;
    margin: 0 20px;
}

.hero:hover {
    animation-duration: 3s;
    animation-name: slidein2;
}

.section1_h1 {
    padding: 20px;
}

@keyframes slidein2 {
    from {
        margin-right: 100%;
        width: 100%; 
    }

    to {
        margin-left: 0%;
        width: 300%;
    }
}

.section1 p {
    padding: 0 20px 20px 0;
    font-size: 18px;
}

.box2{
    display: flex;
    margin-left: 20px;
}

.box2_img {
    margin: 20px 0 20px 20px;
    height: 320px;
    width: 250px;    
}

.box2 ul {
    display: block;
    list-style-type: disc;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 30px 50px;
}

.three_containers {
    display: flex;
    flex-direction: row;
}

.img_three {
    height: 200px;
    margin-left: 20px;
    padding: 30px 0;
    width: 250px;   
}

.three_containers div {
    margin: 20px;
}

/* ABOUT */

.c1 {
    display:flex;
}

.c2 {
    display:flex;
}

.c_img {
    margin: 20px 20px;
    height: 373px;
    width: 280px;
    align-items: center;
}

.c_p {
    width: 350px;
    text-align: left;
}

@media (min-width: 420),(max-width: 1620px) {
   
    .navbar {
        display: none;
    }

    .logo {
        padding: 20px 0 50px 0;
        animation-duration: 3s;
        animation-name: slidein;
    }

    .dropdown a {
        display: none;
    }

    .dropbtn {
        display: none;
    }
      
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%; 
        }
    
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
}


@media (max-width: 420px) {

/* NAV */

    .header_ul {
        display: none;
    }

/* HAMBURGER_DROPDOWN */

    /* Navbar container */
    .navbar {
        display: inline-block;
        overflow: hidden;
        height: 50px;
        width: 60px;
        padding: 0 0 20px 90px;
        font-family: Arial;
    }
  
  /* Dropdown button */
    .dropdown {
        float: left;
        overflow: hidden;   
        background-image: url("images/SVG/hamburger.svg");
        height: 50px;
        border: none;
        outline: none;
        color: white;
        font-family: inherit; 
        margin: 0; 
    }

    .dropbtn {
        display: inline-flex;
        width: 60px;
    }
  
    
    /* Dropdown content */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
  
    .dropdown-content a:hover {
            background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content {
            display: block;
            float: left;
        }


    /* HEADER */

    .head_container {
        align-items: left;   
        justify-content: left;
        padding: 0 20px;
    }

    .header_ul li {
        padding: 20px;
        margin: 0;
        align-self: center;
    }

    .logo {
        animation-name: none;
        padding: 10px;;
        width: 150px;
        height: auto;
    }
    

    .wrapper {
        display: row;
        width: 100vw;
        align-content: flex-start;
        margin: 0;
    }    

    /* STUDIO */

    .box2 {
        flex-direction: column;
        margin: 0;
    }

    .box2_ul {
        padding: 20px;
    }

    .box2_img {
        margin: auto;
    }

    .three_containers {
        flex-direction: column;
    }

    .img_three {
        padding: 20px 0;
    }

    /* ABOUT */

    .c1 {
        flex-direction: column; 
        padding: 10px 0;
    }

    .c2 {
        flex-direction: column; 
    }

    .c_img {
        margin: auto;
        padding: 20px 0;
        height: auto;
        width: 100%;   
    }

    /* FOOTER */

    .footer_ul li {
        padding: 80px 10px 30px 10px;
    }

    #footer_p p{
        text-align: center;
    }


}