/* FIXLIST:
 - 1/2 CSS animations
 - 0/2 event handlers
 - find + insert images
 - fix deployment (studio + about pgs)
 - fix centering of header/footer 
 list items (desktop + mobile)
*/


h1 {
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 20px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #343434;
    line-height: 1.7;
    font-weight: 100;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #343434;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_ul li {
    font-variant-caps: all-petite-caps;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    list-style: none;
    color: #222222;
    padding: 15px;
    margin: 0;
    align-self: center;
}

#abNav{
    background-color: none;
    padding: 40px;
    font-weight: none;
    
}

.head_container {
    display: flex;
    align-items: center;   
    justify-content: center;
   }

.head_container img {
    height: 100px;
}

.logo {
    padding-bottom: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}
  
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%; 
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.footer_ul li {

    padding: 40px 0 0 10px;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #222222;
    list-style: none;
}

#footer_p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    color: #222222;
}

/* HOME  */


.wrapper {
    display: flex;
    width: 100vw;
    /* border: 10px solid pink; */
  }

.wrapper .flex1 {
    /* border: purple solid 10px; */
    /* flex: 1; */
    /* flex-direction: column; */
    /* width: calc(100% / 3); */
    /* height: auto; */
    /* display: block; */

}  

.wrapper .flex2 {
    /* border: yellow solid 10px; */
    /* flex: 1;
    flex-direction: column; */
    /* width: calc(100% / 3); */
    /* height: auto; */
    /* display: block; */
}  

.wrapper .flex3 {
    /* border: lime solid 10px; */
    /* flex: 1;
    flex-direction: column; */
    /* width: calc(100% / 3); */
    /* height: auto; */
    /* display: block; */
}  

/* .main_image img {
    width: 100%;
    height: auto;
} */

#A1 {
    background-color: pink;
    /* border: red solid 1px; */
    max-width:100%;
    height: auto;
    object-fit: contain;
}

#A2 {
    background-color: powderblue;
    /* border: red solid 1px; */
    max-width:100%;
    height: auto;
}

#A3 {
    background-color: green;
    /* border: red solid 1px; */
    max-width:100%;
    height: auto;
}

#A4 {
    background-color:black;
    max-width:100%;
    height: auto;
}

#A5 {
    background-color: yellow;
    max-width:100%;
    height: auto;
}

#A6 {
    background-color: blue;
    max-width:100%;
    height: auto;
    object-fit: contain;
}

#A7 {
    background-color:blueviolet;
    max-width:100%;
    height: auto;
}

#A8 {
    background-color: aqua;
    max-width:100%;
    height: auto;
}

#A9 {
    background-color: brown;
    max-width:100%;
    height: auto;
}

#A10 {
    background-color: tomato;
    max-width:100%;
    height: auto;
}

#A11 {
    background-color: gold;
    max-width:100%;
    height: auto;
    object-fit: contain;
}

#A12 {
    background-color: khaki;
    max-width:100%;
    height: auto;
}

#A13 {
    background-color:lightgrey;
    max-width:100%;
    height: auto;
}

#A14 {
    background-color: fuchsia;
    max-width:100%;
    height: auto;
}

#A15 {
    background-color: chartreuse;
    max-width:100%;
    height: auto;
}

/* STUDIO */

.hero {
    height: 200px;
    width: auto;
    margin: 0 20px;
    /* transition-property: margin-left, width;
    transition-duration: 1s;
    transition-timing-function: linear; */
}

.hero:hover {
    animation-duration: 3s;
    animation-name: slidein2;
}

@keyframes slidein2 {
    from {
        margin-right: 100%;
        width: 100%; 
    }

    to {
        margin-left: 0%;
        width: 300%;
    }
}

.section1 p {
    padding: 20px 20px 0 0;
    font-size: 18px;
    margin: 20px;
}

.box2{
    display: flex;
}

.box2_img {
    margin: 20px 0 0 20px;
    height: 320px;
    background-color: gold;
    width: 33%;    
}

.box2 ul {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans Condensed', sans-serif;
}

.box2 li {
    list-style-type: disc;
}

.three_containers {
    display: flex;

}

.img_three {
    height: 80px;
    background-color:aqua;
    width: auto;   
}

.three_containers div {
    margin: 20px;
}

/* ABOUT */

.c1 {
    display:flex;
}

.c2 {
    display:flex;
}

.c_img {
    margin: 20px 20px;
    height: 200px;
    background-color:aqua;
    width: 600px;   
}



@media (max-width: 420px) {

    /* HOME */

    .header_ul li {
        padding: 20px;
        margin: 0;
        align-self: center;
    }

    .logo {
        animation-name: none;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    #A1 {
        background-color: pink;
        height: 200px;
        width: 100%;
    }
    
    #A2 {
        background-color: powderblue;
        height: 200px;
        width: 100%;
    }
    
    #A3 {
        background-color: green;
        height: 200px;
        width: 100%;
    }
    
    #A4 {
        background-color:black;
        height: 200px;
        width: 100%;
    }
    
    #A5 {
        background-color: yellow;
        height: 400px;
        width: auto;
    }
    
    #A6 {
        background-color: blue;
        height: 400px;
        width: auto;
    }
    
    #A7 {
        background-color:blueviolet;
        height: 400px;
        width: auto;
    }
    
    #A8 {
        background-color: aqua;
        height: 400px;
        width: auto;
    }
    
    #A9 {
        background-color: brown;
        height: 400px;
        width: auto;
    }
    
    #A10 {
        background-color: tomato;
        height: 400px;
        width: auto;
    }
    
    #A11 {
        background-color: gold;
        height: 400px;
        width: auto;
    }
    
    #A12 {
        background-color: khaki;
        height: 400px;
        width: auto;
    }
    
    #A13 {
        background-color:lightgrey;
        height: 400px;
        width: auto;
    }
    
    #A14 {
        background-color: fuchsia;
        height: 400px;
        width: auto;
    }

    /* STUDIO */

    .box2 {
        flex-direction: column;
    }

    .box2 p {
        /* font-size: 12px; */
    }

    .box2_img {
        margin: auto;
    }

    .three_containers {
        flex-direction: column;
    }

/* ABOUT */

    .c1 {
        flex-direction: column; 
        padding: 10px 0;
    }

    .c2 {
        flex-direction: column; 
    }

    .c_img {
        margin: auto;
        padding: 20px 0;
        height: 200px;
        background-color:aqua;
        width: 600px;   
    }

}