


/* GENERAL */

h1 {
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 30px 0 20px 20px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #343434;
    line-height: 1.7;
    font-weight: 100;
    margin: 0 20px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #343434;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ///HEADER/// */

.header_ul li {
    font-variant-caps: all-petite-caps;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    list-style: none;
    color: #222222;
    padding: 50px 25px;
    margin: 0;
    align-self: center;
}

.head_container {
    width: 100%;
   }

.logo  {
    width: 40%;
    margin: 0 30%;
    /* max-width: 1000px; */
    padding: 20px 0 50px 0;
}

/* FOOTER */

footer {
    padding: 30px;
}

.footer_ul li {
    padding: 40px 10px 30px 10px ;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: #222222;
    list-style: none;
}

.footer_p {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
    color: #222222;
}

/* HOME  */

.wrapper {
    display: flex;
    width: 100vw;
    align-content: flex-start;
    margin: 0;
}

.wrapper img {
    max-width:100%;
    height: auto;
}


.main_image {
    width: 100%;
    height: auto;
    transition: all 0.8s ease;
}

.main_image:hover {
    transform: scale(1.2)
}

/* ART */

.project {
    display: flex;
    padding: 40px 20px;
}

.project > img {
    max-width: 60%;
    min-width: 40%; 
    max-height: 350px;
}

.chronoscape {
    display: flex;
    flex-direction: row-reverse;
}

.project_txt {
    width: 60%;
    margin: 0 30px;
    padding: 0;
}

/* ABOUT */

.c2 {
    display:flex;
    width: 90%;
    margin: 5%;
}

.mission {
margin: 5%;
}

.c_img {
    height: 373px;
    width: auto;
}

.c_p > p {
    width: 90%;
    text-align: left;
    padding: 20px 0 20px;
}

@media (min-width: 420px) {
   
    .navbar {
        display: none;
    }

    .dropdown a {
        display: none;
    }

    .dropbtn {
        display: none;
    }
      
}


@media (max-width: 420px) {

/* NAV */

    .header_ul {
        display: none;
    }

    /* HEADER */

    .head_container {
    display: flex;
    align-items: left;   
    justify-content: left;
    padding: 0 20px;
    }

    .logo {
    width: 200px;
    margin: 0;
    padding: 20px;
    }
    
/* HAMBURGER_DROPDOWN */

    /* Navbar container */
    .navbar {
        height: 50px;
        width: 100%;
        padding: 0 0 20px 20px;
        font-family: Arial;
    }
  
  /* Dropdown button */
    .dropdown {
        float: left;
        overflow: hidden;   
        background-image: url("images/SVG/hamburger.svg");
        height: 50px;
        border: none;
        outline: none;
        color: white;
        font-family: inherit; 
        margin-top: 10%; 
    }

    .dropbtn {
        display: inline-flex;
        width: 60px;
    }
  
    
    /* Dropdown content */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
  
  
    .dropdown:hover .dropdown-content {
            display: block;
            /* float: left; */
        }

  /* FRONT PAGE */

  .wrapper {
    flex-direction: column;
}    

    /* STUDIO */

    .box2 {
        flex-direction: column;
        margin: 0;
    }

    .box2_ul {
        padding: 20px;
    }

    .box2_img {
        margin: auto;
    }

    .three_containers {
        flex-direction: column;
    }

    .img_three {
        padding: 20px 0;
    }

    /* ABOUT */

    .c1 {
        flex-direction: column; 
        padding: 10px 0;
    }

    .c2 {
        flex-direction: column; 
    }

    .c_img {
        margin: auto;
        padding: 20px 0;
        height: auto;
        width: 100%;   
    }

    /* FOOTER */

    .footer_ul li {
        padding: 30px 10px;
        font-size: 25px;
    }

    .footer_p {
        text-align: center;
        padding: 20px;
        font-size: 15px;
    }


}